@charset "utf-8";#header{position:relative;background-color:#fff;z-index:3}
#header header{position:fixed;width:100%;height:45px;background-color:#fff;border-bottom:1px solid #ececec;z-index:20}
.mainarea #header header{border-bottom:none}
#header h1{position:absolute;top:0;left:50px;transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;z-index:4}
.main #header header{border-bottom:none}
.main #header h1,.mainarea #header h1{left:50%;margin-left:-45px;}
.main #header h1 > a{display:block;}
#header h1 > a{display:inline-block;vertical-align:middle;width:90px;height:38px;padding-top:7px;}
#header h1 > a img{width:100%}
#header h1 .areahead{display:inline-block;vertical-align:middle;margin-left:7px}
#header h1 .areahead > p{display:inline-block;vertical-align:middle;font-size:0.875em;font-weight:500}
#header h1 .areahead > p + p{margin-left:4px}
#header h1 .areahead > p .tiarea{display:none}
#header .btnh_gnb{position:absolute;width:50px;height:45px;top:0;left:0;overflow:hidden;z-index:25}
#header .btnh_gnb > span{position:relative;display:block;width:20px;height:16px;margin:auto;text-align:center}
#header .btnh_gnb > span > i,
#header .btnh_gnb > span:before,
#header .btnh_gnb > span:after{position:absolute;display:block;width:100%;height:1px;left:0;background-color:#3a3b3d;text-indent:-9999em;overflow:hidden}
#header .btnh_gnb > span > i{top:0;}
#header .btnh_gnb > span:before{content:'';top:50%;margin-top:-0.5px}
#header .btnh_gnb > span:after{content:'';bottom:0}
#header .btnh_search{position:absolute;width:45px;height:45px;top:0;right:0;overflow:hidden;z-index:3}
#header .btnh_search .is_ico{margin:13px auto}
#header .head_areanav{position:absolute;width:92%;top:45px;padding:0 4%;background-color:#fff;border-bottom:1px solid #ececec;z-index:1}
#header .head_areanav .area{float:left;width:17%}
#header .head_areanav .area:nth-child(6){width:32%}
#header .head_areanav .area > a{display:block;height:100%;font-weight:500;line-height:1.1;letter-spacing:-1px;padding:9px 0 12px;text-align:center}
#header .head_areanav .area > a > span{display:none}
#header .head_subnav{position:absolute;width:100%;height:45px;top:45px;background-color:#fff;border-bottom:1px solid #ececec;z-index:1}
#header .head_subnav .depth.ea2 > .item{float:left;width:50%}
#header .head_subnav .depth.ea3 > .item{float:left;width:33.33333333333333%}
#header .head_subnav .depth.ea4 > .item{float:left;width:25%}
#header .head_subnav .owl-stage-outer{z-index:1}
#header .head_subnav .owl-stage-outer:before{content:'';display:block;position:absolute;top:0;left:0;width:18px;height:45px;background-color:rgba(255,255,255,.7);z-index:2}
#header .head_subnav .owl-stage-outer:after{content:'';display:block;position:absolute;top:0;right:0;width:18px;height:45px;background-color:rgba(255,255,255,.7);z-index:2}
#header .head_subnav .owl-carousel .owl-stage{z-index:1}
#header .head_subnav > .depth{overflow:hidden}
#header .head_subnav > .depth .item.size1{width:52px}
#header .head_subnav > .depth .item.size2{width:66px}
#header .head_subnav > .depth .item.size3{width:92px}
#header .head_subnav > .depth .item.size4{width:115px}
#header .head_subnav > .depth .item.size5{width:160px}
#header .head_subnav > .depth .item > a{display:block;position:relative;padding:0 4px;color:#bbb;font-size:0.875em;text-align:center;line-height:1.1;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
#header .head_subnav > .depth .item{position:relative}
#header .head_subnav > .depth > .item:after,
#header .head_subnav > .depth .owl-item:after{content:'';display:block;position:absolute;width:1px;height:12px;top:50%;left:0;margin-top:-6px;background-color:#ececec;z-index:1}
#header .head_subnav > .depth > .item:first-of-type:after,
#header .head_subnav > .depth .owl-item:first-of-type:after{display:none}
#header .head_subnav > .depth .item > a > span{display:inline-block;position:relative;padding-top:15px}
#header .head_subnav > .depth .item > a > span:after{content:'';display:block;width:0;height:2px;margin:14px auto 0;transition-property:width;-webkit-transition-property:width;transition-duration:.3s;-webkit-transition-duration:.3s;transition-timing-function:cubic-bezier(.33,0,.2,1);-webkit-transition-timing-function:cubic-bezier(.33,0,.2,1);z-index:3}
.area_hd #header .head_subnav > .depth .item > a.ftclr_area > span:after{width:100%;background-color:#ed145b}
.area_cc #header .head_subnav > .depth .item > a.ftclr_area > span:after{width:100%;background-color:#ff9c00}
.area_ns #header .head_subnav > .depth .item > a.ftclr_area > span:after{width:100%;background-color:#78ca08}
.area_etc #header .head_subnav > .depth .item > a.ftclr_area > span:after{width:100%;background-color:#414144}
#header .headmnz{display:none}
#header .head_searchwrap{display:none;position:absolute;width:100%;height:100%;top:0;left:0;background-color:#fff;overflow:hidden;z-index:26}
#header.searchopen .head_searchwrap{display:block}
#header .head_searchwrap .hdsearch_area{position:relative;width:auto;margin:0 50px 0 45px;padding-right:30px;}
#header .head_searchwrap .hdsearch_area input[type='text']{width:100%;height:34px;margin-top:5px;font-size:1.063em;line-height:34px;border:none}
#header .head_searchwrap .hdsearch_area input::-ms-clear{display:none;width:0;height:0;line-height:0}
#header .head_searchwrap .hdsearch_area .bt_inptxdel{position:absolute;width:20px;height:45px;top:0;right:0;z-index:1}
#header .head_searchwrap .bt_back{position:absolute;width:38px;height:45px;top:0;left:0;overflow:hidden;z-index:2}
#header .head_searchwrap .bt_back .is_ico{margin:14px auto}
.allmenu{display:none;width:53.125%;top:0;left:0;height:100%;background-color:#fff}
.allmenu .gnbtop{position:relative;height:45px;text-align:right;margin:0 22px 0 42px;overflow:hidden}
.allmenu .gnbtop .btn_setting{position:absolute;top:9px;left:0;width:26px;height:21px;padding-top:5px;text-align:center;}
.allmenu .gnbtop .btn_setting:before{content:'';display:inline-block;width:18px;height:18px;background:url('../images/common/m_ico_setting.png') 0 0 no-repeat;background-size:18px auto;}
.allmenu .gnbtop .btn_log{display:inline-block;height:24px;margin-top:10px;padding:0 10px;font-size:0.813em;color:#999;line-height:24px;border:1px solid #d8d8d8;z-index:3}
.allmenu .gnbtop .btn_log > span{display:inline-block;vertical-align:middle;line-height:1;}
.allmenu .gnbarea{margin:0 22px;padding-top:10px;padding-bottom:10px;border-top:1px solid #ececec;z-index:5}
.allmenu .gnbarea.first{border-top:none}
.allmenu .depth1 h3 > a{position:relative;display:block;padding:10px 0;font-size:0.938em;line-height:1.1}
.allmenu .depth1 h3 > a > span{display:inline-block;vertical-align:middle;position:relative;padding-bottom:1px}
.allmenu .depth1 h3 > a > span:after{content:'';display:block;position:absolute;width:0;height:1px;bottom:0;left:0;-webkit-transition:width .3s ease-in-out;transition:width .3s ease-in-out;background-color:#222;z-index:2}
.allmenu .depth1.active h3 > a > span:after{width:100%}
.allmenu .depth1 h3 > a > i{position:absolute;display:block;width:5px;height:9px;top:50%;right:0;margin-top:-4.5px;text-indent:-9999em;overflow:hidden}
.allmenu .depth1 h3 > a > i:before,
.allmenu .depth1 h3 > a > i:after{content:'';display:block;position:absolute;width:1px;height:6px;left:2px;background-color:#222;z-index:2}
.allmenu .depth1 h3 > a > i:before{top:0px;transform:rotate(-45deg);transform-origin:right}
.allmenu .depth1 h3 > a > i:after{top:4px;transform:rotate(45deg);transform-origin:right}
.allmenu .depth1 .depth2{position:absolute;width:80.64705882352941%;height:100%;top:0;left:100%;background-color:#414144;overflow:hidden;opacity:0;visibility:hidden;transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;transform:translateX(-100%);-webkit-transform:translateX(-100%);z-index:-1}
.allmenu .depth1.active .depth2{opacity:1;visibility:visible;transform:translateX(0);-webkit-transform:translateX(0);z-index:5}
.allmenu .depth1 .depth2 > ul{margin:56px 19px 0;}
.allmenu .depth1 .depth2 > ul > li > a{display:block;padding:11px 0;font-size:0.875em;color:#fff;line-height:1.1;}
.allmenu .depth1.depth_hd .depth2,
.allmenu .depth1.depth_hd h3 > a > span:after{background-color:#ed145b}
.allmenu .depth1.depth_ns .depth2,
.allmenu .depth1.depth_ns h3 > a > span:after{background-color:#78ca08}
.allmenu .depth1.depth_cc .depth2,
.allmenu .depth1.depth_cc h3 > a > span:after{background-color:#ff9c00}
.allmenu .depth1.depth_dc .depth2,
.allmenu .depth1.depth_dc h3 > a > span:after{background-color:#6519d8}
.allmenu .depth1.depth_hd.active h3 > a{color:#ed145b}
.allmenu .depth1.depth_ns.active h3 > a{color:#78ca08}
.allmenu .depth1.depth_cc.active h3 > a{color:#ff9c00}
.allmenu .depth1.depth_dc.active h3 > a{color:#6519d8}
.allmenu .allmenu_snswrap{position:absolute;left:24px;bottom:20px;z-index:3}
.allmenu .allmenu_snswrap > li{display:inline-block;vertical-align:middle;margin-left:12px}
.allmenu .allmenu_snswrap > li:first-of-type{margin-left:0}
.allmenu .allmenu_snswrap > li > a{display:block}
.allmenu .close_gnb{position:absolute;display:block;width:47px;height:45px;top:0;left:0;z-index:5}
.allmenu .close_gnb > span{position:relative;display:block;width:16px;height:16px;margin:auto;text-indent:-9999em;overflow:hidden}
.allmenu .close_gnb > span:before,
.allmenu .close_gnb > span:after{content:'';display:block;position:absolute;width:21px;height:1px;top:50%;left:-3px;background-color:#222;transition:.4s ease-in-out;-webkit-transition:.4s ease-in-out;}
.allmenu .close_gnb > span:before{transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.allmenu .close_gnb > span:after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.allmenu .allmenu_scrollwrap{overflow-y:auto}
#footer{position:relative;width:100%;border-top:1px solid #ececec;z-index:3}
#footer > footer{padding-bottom:25px;background-color:#fafafa}
#footer .foot_mnwrap{display:none}
#footer .foot_contact .foot_arealist{position:relative;}
#footer .foot_contact .foot_arealist > li{float:left;width:50%}
#footer .foot_contact .fbtn_contact{display:block;position:relative;padding:10px 18px;font-size:0.875em;color:#999;border-bottom:1px solid #ececec;background-color:#fff;transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;}
/*#footer .foot_contact .foot_arealist > li:nth-child(1) .areaname{color: #ed145b}
#footer .foot_contact .foot_arealist > li:nth-child(2) .areaname{color: #78ca08}
#footer .foot_contact .foot_arealist > li:nth-child(3) .areaname{color: #ff9c00}
#footer .foot_contact .foot_arealist > li:nth-child(4) .areaname{color:#6519d8}*/
#footer .foot_contact .foot_arealist > li:nth-child(even) .fbtn_contact{border-left:1px solid #ececec}
#footer .foot_contact .fbtn_contact:after{content:'보기';display:block;position:absolute;width:17px;height:10px;top:50%;right:15px;margin-top:-5px;background-image:url('../images/common/ft_arrow3.gif');background-repeat:no-repeat;background-size:contain;text-indent:-9999em;overflow:hidden;transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;z-index:2}
#footer .foot_contact .foot_arealist > li .footarea_wrap{position:absolute;display:none;width:100%;top:41px;left:0;border-bottom:1px solid #ececec;background-color:#f5f5f5;z-index:20}
#footer .foot_contact .foot_arealist > li:nth-child(3) .footarea_wrap,
#footer .foot_contact .foot_arealist > li:nth-child(4) .footarea_wrap{top:84px}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea{margin:15px 15px 20px;font-size:0.813em;color:#bbb;line-height:1.8}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer p > a{color:#999}
#footer .foot_contact .foot_arealist > li.active .footarea_wrap{display:block}
#footer .foot_contact .foot_arealist > li.active .fbtn_contact:after{background-image:url('../images/common/ft_arrow.gif');transform:rotate(-180deg);-webkit-transform:rotate(-180deg)}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer .cc_trip{margin-top:20px}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer .cc_trip li:first-child{margin-left:0}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer .cc_trip li{float:left;margin-left:15px}
.cc_trip li a{display:block;width:36px;height:36px;text-indent:-9999px;overflow:hidden}
.cc_trip li a.trip1{background:url('../images/common/m_mark_cc_trip1.png') no-repeat center center;background-size:36px auto}
.cc_trip li a.trip2{background:url('../images/common/m_mark_cc_trip2.png') no-repeat center center;background-size:36px auto}
#footer .foot_contact .ft_cotactlist{display:none;padding:8px 0;border-bottom:1px solid #ececec;background-color:#fff}
#footer .foot_contact .ft_cotactlist > dt{display:none}
#footer .foot_contact .ft_cotactlist > dd{padding:6px 18px;font-size:0.813em;color:#999}
#footer .foot_contact.active .ft_cotactlist{display:block}
#footer .foot_contact .ft_cotactlist > dd > a{color:#222}
#footer .foot_companyinfo{padding:14px 0 28px;font-size:0.75em;color:#bbb;text-align:center}
#footer .foot_fmsns .select2-container--default .select2-selection--single{border:1px solid #d8d8d8}
#footer .foot_fmsns .select2-container--default .select2-selection--single .select2-selection__rendered{color:#999}
#footer .foot_fmsns .select2-container--default .select2-selection--single .select2-selection__arrow b{background-image:url('../images/common/sel_arrow01.png');}
#footer .foot_fmsns .btn2{margin-left:3px;font-size:0.875em}
#footer .foot_fmsns .ft_family{display:block;margin-bottom:12px;text-align:center}
#footer .foot_fmsns .ft_snswrap{display:block;text-align:center}
#footer .foot_fmsns .ft_snswrap ul > li{display:inline-block;vertical-align:middle;width:30px;height:30px;overflow:hidden}
#footer .foot_fmsns .ft_snswrap ul > li > a{display:block;height:100%;overflow:hidden}
#footer .foot_fmsns .ft_snswrap ul > li > a .is_sns{margin:8px auto}
#footer .foot_contel{padding:20px 0 15px;font-size:0.813em;line-height:1.8;text-align:center}
#footer .foot_contel > a{position:relative;display:inline-block;padding:0 7px 0 10px;}
#footer .foot_contel > a:before{content:'';display:block;position:absolute;top:50%;left:0;border-left:1px solid #ececec;height:12px;margin-top:-6px}
#footer .foot_contel > a:first-child:before,#footer .foot_contel > a:last-child:before{display:none}
#footer .foot_contel > a:last-child{padding:0}
.btntop{display:none;position:fixed;width:38px;height:38px;bottom:30px;right:15px;z-index:10}
.btntop #TopMove{display:block;width:100%;height:100%;border-radius:50%;border:1px solid rgba(229,229,229,.95);background-color:rgba(255,255,255,.95);overflow:hidden}
.btntop #TopMove .isi_top{margin:auto}
.topbanactive #header header{top:75px}
.topbanactive #header .head_areanav{top:120px}
.main.topbanactive #contents,
.mainarea.topbanactive #contents{padding-top:160px}
.topbanactive #contents{padding-top:121px}
.topbanner_wrap{position:fixed;width:100%;height:75px;top:0;left:0;background-color:#414144;overflow:hidden;z-index:22}
.topbanner_wrap .topban_list{margin:15px 10px 11px}
.topbanner_wrap .topban_list > li > a{display:block;position:relative;padding:4px 12px;line-height:1.1;}
.topbanner_wrap .topban_list.dex2 > li:first-of-type > a:after{content:'';display:block;position:absolute;width:1px;height:20px;top:50%;right:0;margin-top:-10px;background-color:rgba(255,255,255,.1);z-index:2}
.topbanner_wrap .topban_list .notice{display:none}
.topbanner_wrap .topban_list .title{display:block;font-size:0.75em;color:#fff;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.topbanner_wrap .today_close{margin-right:40px;text-align:right}
.topbanactive .topbanner_wrap .today_close .choice_wrap label{font-size:0.688em;font-weight:300;line-height:1.1;color:#999}
.topbanactive .topbanner_wrap .today_close .choice_wrap input[type=radio].img_radio + label > i,
.topbanactive .topbanner_wrap .today_close .choice_wrap input[type=checkbox].img_checkbox + label > i{top:-2px}
.topbanner_wrap .topbenner_close{position:absolute;width:30px;height:30px;bottom:0;right:0;z-index:4}
.topbanner_wrap .topbenner_close > button{display:block;width:100%;height:100%}
.topbanner_wrap .topbenner_close > button .is_ico{margin:auto}
@media all and (min-width:768px){#header .head_areanav .area{width:25%}
.main #header .headmnz,
.mainarea #header .headmnz{display:block;position:fixed;top:0;right:46px;z-index:22}
#header .headmnz > li{position:relative;float:left;}
#header .headmnz > li > a{display:block;padding:14px 11px;line-height:1.1;font-weight:500;}
#header .headmnz > li > a:after{content:'';display:block;position:absolute;width:1px;height:12px;right:0;top:50%;margin-top:-6px;background-color:#e4e4e4;z-index:1}
#header .head_areanav .area > a > span{display:inline-block;vertical-align:middle;margin-right:8px}
#header .head_subnav .owl-carousel.owl-drag .owl-item .item{margin:0 auto}
#header .head_subnav .owl-stage-outer:before{display:none;}
#header .head_subnav .owl-stage-outer:after{display:none;}
.allmenu{width:280px}
.allmenu .depth1 .depth2{width:210px;}
#footer > footer{padding-bottom:60px}
#footer .foot_mnwrap{display:none;width:100%;text-align:center;border-bottom:1px solid #ececec;background-color:#fff}
#footer .foot_mnwrap > ul > li{position:relative;display:inline-block;vertical-align:middle;height:55px;padding:0 12px}
#footer .foot_mnwrap > ul > li:after{content:'';display:block;position:absolute;width:1px;height:15px;left:0;top:50%;margin-top:-7.5px;background-color:#ececec;z-index:2}
#footer .foot_mnwrap > ul > li:first-of-type:after{display:none}
#footer .foot_mnwrap > ul > li > a,
#footer .foot_mnwrap > ul > li .tel{display:block;font-size:0.813em;font-weight:300;color:#999;line-height:55px}
#footer .foot_contact .ft_cotactlist{display:block;padding:25px 0 0;border-bottom:none;background-color:transparent}
#footer .foot_contact .ft_cotactlist > dt,
#footer .foot_contact .ft_cotactlist > dd{display:inline-block;vertical-align:middle;padding:0 10px;font-size:0.813em}
#footer .foot_contact .ft_cotactlist > dd{position:relative}
#footer .foot_contact .ft_cotactlist > dd:after{content:'';display:block;position:absolute;width:1px;height:12px;top:50%;left:0;margin-top:-6px;background-color:#e4e4e4;z-index:2}
#footer .foot_contact .ft_cotactlist > dd:first-of-type:after{display:none}
#footer .foot_companyinfo{padding-bottom:26px;font-size:0.813em}
#footer .foot_fmsns{text-align:center}
#footer .foot_fmsns .ft_family,
#footer .foot_fmsns .ft_snswrap{display:inline-block;vertical-align:middle}
#footer .foot_fmsns .ft_family{margin-bottom:0;margin-right:22px}
.topbanner_wrap .topban_list{margin-bottom:10px}
.topbanner_wrap .topban_list .notice{display:inline-block;vertical-align:middle;margin-right:8px;font-size:0.75em;color:#bbb}
.topbanner_wrap .topban_list .title{display:inline-block;vertical-align:middle;width:79%;font-size:0.875em;}
.main.topbanactive #header .headmnz,
.mainarea.topbanactive #header .headmnz{top:75px}
}
@media all and (min-width:1200px){.mainarea.topbanactive #contents{padding-top:171px}
#header{position:fixed;width:100%;height:70px;z-index:20}
#header header{height:70px}
.mainarea #header header{border-bottom:1px solid #ececec}
#header h1,
.main #header h1,.mainarea #header h1{left:92px;margin-left:0}
#header h1 > a{width:136px;height:58px;padding-top:11px}
.main #header h1 > a,
.mainarea #header h1 > a{width:113px;height:53px;padding-top:17px}
#header h1 .areahead{margin-left:26px}
#header h1 .areahead > p{font-size:1.125em}
#header h1 .areahead > p + p{margin-left:25px;}
#header h1 .areahead > p .tiarea{display:inline-block;vertical-align:middle;margin-right:4px}
#header .btnh_gnb{width:90px;height:70px}
#header .btnh_gnb > span{width:30px;height:26px}
#header .btnh_gnb:hover > span{width:40px}
#header .btnh_gnb > span > i,
#header .btnh_gnb > span:before,
#header .btnh_gnb > span:after{height:2px}
#header .btnh_gnb > span:before{margin-top:-1px}
#header .btnh_search{width:50px;height:50px;top:10px;right:0}
#header .btnh_search .is_ico{margin:13px auto}
#header .head_areanav{position:absolute;width:486px;top:0;left:50%;padding:0;margin-left:-243px;background-color:transparent;border-bottom:none;z-index:22}
#header .head_areanav .area,
#header .head_areanav .area:nth-child(4),
#header .head_areanav .area:nth-child(5){width:auto}
#header .head_areanav .area.supportartist{float:none;position:absolute;top:0;right:196px;z-index:3}
#header .head_areanav .area > a{height:auto;padding:25px;font-size:1.125em;font-weight:400;letter-spacing:-1px}
#header .head_areanav .area > a:hover .is_area{transition:.3s ease;transform:rotate(360deg);}
#header .head_subnav{width:650px;height:70px;top:0;left:490px;background-color:transparent;border-bottom:none;z-index:22}
#header .head_subnav .owl-stage-outer .owl-stage{width:650px !important}
.etc #header .head_subnav .owl-stage-outer .owl-stage{width:800px !important}
#header .head_subnav > .depth.ea2 .item,
#header .head_subnav > .depth.ea3 .item,
#header .head_subnav > .depth.ea4 .item,
#header .head_subnav > .depth.ea5 .item{display:inline-block;vertical-align:middle;float:none;width:auto}
#header .head_subnav > .depth .item.size1,
#header .head_subnav > .depth .item.size2,
#header .head_subnav > .depth .item.size3,
#header .head_subnav > .depth .item.size4,
#header .head_subnav > .depth .item.size5{width:auto}
#header .head_subnav > .depth .item > a{padding:0 24px 0 28px;font-size:1.125em}
#header .head_subnav > .depth .item > a:after{height:20px;margin-top:-10px}
#header .head_subnav > .depth .item > a > span{padding-top:26px}
#header .head_subnav > .depth .item > a > span:after{margin-top:24px}
.main #header .headmnz,
.mainarea #header .headmnz{position:absolute;top:12px;right:55px}
.main #header .headmnz > li > a,
.mainarea #header .headmnz > li > a{padding:14px 22px;font-size:1em;font-weight:400}
.main #header .headmnz > li > a:after,
.mainarea #header .headmnz > li > a:after{height:15px;margin-top:-7.5px}
#header.searchopen .head_areanav,
#header.searchopen .headmnz{z-index:1}
#header .head_searchwrap .hdsearch_area{height:70px;margin:0 55px 0 90px;padding-right:35px;overflow:hidden}
#header .head_searchwrap .hdsearch_area input[type='text']{height:42px;margin-top:14px;font-size:1.125em;font-weight:300;text-align:center;line-height:42px}
#header .head_searchwrap .hdsearch_area .bt_inptxdel{width:28px;height:28px;top:50%;margin-top:-14px}
#header .head_searchwrap .bt_back{width:80px;height:50px;top:10px}
#header .head_searchwrap .bt_back .is_ico{margin:11px auto}
#header.searchopen .head_subnav{z-index:1}
.area_hd #header .head_subnav > .depth .item > a:hover > span:after{width:100%;background-color:#ed145b}
.area_cc #header .head_subnav > .depth .item > a:hover > span:after{width:100%;background-color:#ff9c00}
.area_ns #header .head_subnav > .depth .item > a:hover > span:after{width:100%;background-color:#78ca08}
.area_etc #header .head_subnav > .depth .item > a:hover > span:after{width:100%;background-color:#414144}
.main.topbanactive #header{position:fixed;left:0;top:100px;}
.main #header{position:fixed;left:0;top:0;}
.main #header header,
.mainarea #header header{position:relative;}
.allmenu .gnbtop{position:relative;height:85px;margin:0 60px 0 120px;}
.allmenu .gnbtop .btn_setting{display:none;}
.allmenu .gnbtop .btn_log{height:38px;margin-top:22px;padding:0 10px;font-size:0.875em;line-height:38px}
.allmenu .gnbarea{margin:0 60px;padding-top:16px;padding-bottom:16px}
.allmenu .gnbarea.first{margin-top:13px;border-top:none}
.allmenu .depth1 h3 > a{padding:11px 0;font-size:1.125em}
.allmenu .depth1 h3 > a > i{width:7px;height:11px;margin-top:-5.5px}
.allmenu .depth1 h3 > a > i:before,
.allmenu .depth1 h3 > a > i:after{height:9px;left:2px}
.allmenu .depth1 h3 > a > i:before{top:-2px}
.allmenu .depth1 .depth2 > ul{margin:110px 39px 0;}
.allmenu .depth1 .depth2 > ul > li > a{padding:13px 0;font-size:1em}
.allmenu .allmenu_snswrap{left:52px;bottom:30px}
.allmenu .allmenu_snswrap > li > a{width:22px}
.allmenu .allmenu_snswrap > li > a .is_sns{margin:auto}
.allmenu .close_gnb{width:85px;height:85px;left:30px}
.allmenu .close_gnb > span{width:26px;height:26px}
.allmenu .close_gnb > span:before,
.allmenu .close_gnb > span:after{width:34px;height:2px;left:-4px;margin-top:-1px}
.allmenu .close_gnb:hover > span{animation:btarrowmove .7s infinite;-webkit-animation:btarrowmove .7s infinite}
.allmenu .close_gnb:hover > span:before{top:1px;transform:rotate(135deg);-webkit-transform:rotate(135deg);}
.allmenu .close_gnb:hover > span:after{top:25px;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
.allmenu .depth1:hover h3 > a > span:after{width:100%}
.allmenu .depth1.depth_hd:hover h3 > a{color:#ed145b}
.allmenu .depth1.depth_ns:hover h3 > a{color:#78ca08}
.allmenu .depth1.depth_cc:hover h3 > a{color:#ff9c00}
.allmenu .depth1.depth_dc:hover h3 > a{color:#6519d8}
#footer .foot_mnwrap{display:block}
#footer .foot_mnwrap > ul > li{padding:0 24px}
#footer .foot_mnwrap > ul > li > a,
#footer .foot_mnwrap > ul > li .tel{font-size:1em}
#footer .foot_mnwrap > ul > li > a:hover{text-decoration:underline}
#footer .foot_contact .foot_arealist > li{width:25%}
#footer .foot_contact{width:1000px;margin:auto}
#footer .foot_contact .fbtn_contact{display:none}
#footer .foot_contact .foot_arealist > li .footarea_wrap{display:block;position:relative;top:auto;left:auto;border-bottom:none;background-color:transparent}
#footer .foot_contact .foot_arealist > li:nth-child(3) .footarea_wrap,
#footer .foot_contact .foot_arealist > li:nth-child(4) .footarea_wrap{top:auto}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea{text-align:center;margin:40px 0;font-weight:300}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer{display:none;width:100%;position:absolute;bottom:50px;left:0;border:1px solid #d8d8d8;padding:20px;background-color:#fff;box-sizing:border-box;}
#footer .foot_contact .foot_arealist > li.active .footarea_wrap .footarea .web_layer{display:block}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer p{text-align:left}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer p > a{font-weight:400}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .areaname{position: relative;display: inline-block; height:14px; line-height:14px; padding:10px 37px 10px 0; border-bottom-width:2px;border-bottom-style:solid;font-size:1rem;font-weight:400}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .areaname:after{content:'보기';display:block;width:13px;height:8px;position:absolute; top:50%; right:0;margin-top:-4px;background-repeat:no-repeat;background-position:center;text-indent:-9999px;overflow:hidden;-webkit-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s}
#footer .foot_contact .foot_arealist > li:nth-child(1) .areaname:after{border-bottom-color: #ed145b}
#footer .foot_contact .foot_arealist > li:nth-child(1) .areaname:after{background-image:url('../images/common/ft_area_arrowhd.png')}
#footer .foot_contact .foot_arealist > li:nth-child(2) .areaname{border-bottom-color: #78ca08}
#footer .foot_contact .foot_arealist > li:nth-child(2) .areaname:after{background-image:url('../images/common/ft_area_arrowns.png')}
#footer .foot_contact .foot_arealist > li:nth-child(3) .areaname{border-bottom-color: #ff9c00}
#footer .foot_contact .foot_arealist > li:nth-child(3) .areaname:after{background-image:url('../images/common/ft_area_arrowcc.png')}
#footer .foot_contact .foot_arealist > li:nth-child(4) .areaname{border-bottom-color:#6519d8}
#footer .foot_contact .foot_arealist > li:nth-child(4) .areaname:after{background-image:url('../images/common/ft_area_arrowdc.png')}
#footer .foot_contact .foot_arealist > li.active .footarea_wrap .footarea .areaname:after {-webkit-transform: rotate(-180deg);transform: rotate(-180deg)}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer .cc_trip li{margin-left:20px}
.cc_trip li a{width:45px;height:45px}
.cc_trip li a.trip1{background:url('../images/common/pc_mark_cc_trip1.png') no-repeat center center;background-size:auto}
.cc_trip li a.trip2{background:url('../images/common/pc_mark_cc_trip2.png') no-repeat center center;background-size:auto}
#footer .foot_companyinfo{font-weight:300}
#footer .foot_companyinfo .br{display:inline-block;vertical-align:middle}
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea > p{}
#footer .foot_contact .ft_cotactlist > dt,
#footer .foot_contact .ft_cotactlist > dd,
#footer .foot_companyinfo{font-size:0.875em}
#footer .foot_fmsns .ft_snswrap ul > li{margin-left:8px}
#footer .foot_fmsns .ft_snswrap ul > li:first-of-type{margin-left:0}
#footer .foot_fmsns .ft_snswrap ul > li > a .is_sns{margin-top:6px;margin-bottom:6px}
#footer .foot_fmsns .ft_snswrap ul > li > a .is_sns.iss_ytb1{margin-top:8px}
.btntop{width:53px;height:53px;bottom:30px;right:30px}
.topbanner_wrap{height:100px}
.topbanner_wrap .topban_list{margin:25px 170px 0 60px}
.topbanner_wrap .topban_list > li > a{padding:14px 30px 8px 0}
.topbanner_wrap .topban_list.dex2 > li:first-of-type > a:after{height:50px;margin-top:-25px}
.topbanner_wrap .topban_list.dex2 > li:last-of-type > a{margin-left:42px;padding-right:0;}
.topbanner_wrap .topban_list .notice{margin-right:15px;font-size:0.875em}
.topbanner_wrap .topban_list .title{width:81%;font-size:1.125em}
.topbanner_wrap .today_close{margin-right:120px}
.topbanactive .topbanner_wrap .today_close .choice_wrap label{font-size:0.75em}
.topbanner_wrap .topbenner_close{width:50px;height:50px;right:60px}
.main.topbanactive #header header,
.mainarea.topbanactive #header header,
.topbanactive #header .head_areanav{top:0}
.topbanactive #header header,
.main.topbanactive #header.headfixed,
.mainarea.topbanactive #header,
.topbanactive #header .head_subnav{top:100px}
.main.topbanactive #header .headmnz,
.mainarea.topbanactive #header .headmnz{top:12px}
.main #contents{padding-top:70px}
.main.topbanactive #contents{padding-top:170px}
.main.topbanactive .intro_wrap .intro_slider .item{height:90vh}
.main.topbanactive .intro_wrap .intro_slider .item .cntwrap{margin-top:-10px}
.topbanactive #contents.rows-1,
.topbanactive #contents.rows-2,
.topbanactive #contents.rows-3{padding-top:281px}
.main.topbanactive.artsupport .intro_wrap .intro_slider .item .cntwrap{margin-top:-10px}
}
@media all and (min-width:1600px){#header .btnh_search{right:16px}
#header .headmnz,
.main #header .headmnz,
.mainarea #header .headmnz{right:81px}
#header .head_searchwrap .hdsearch_area{margin-right:71px}
#header .head_subnav,
#header .head_subnav.type2{width:1000px;left:50%;margin-left:-500px;text-align:center}
#header .head_subnav .owl-stage-outer .owl-stage{width:830px !important}
.etc #header .head_subnav .owl-stage-outer .owl-stage{width:928px !important}
#header .head_subnav > .depth.ea5,
#header .head_subnav > .depth.ea6{width:840px;margin:0 0 0 160px;}
#header .head_subnav > .depth .item > a{padding:0 34px 0 38px}
.topbanner_wrap .topban_list .title{width:87%}
}
#header .head_areanav:after,
#header .headmnz:after,
#footer .foot_contact .foot_arealist:after,
#footer .foot_contact .foot_arealist > li .footarea_wrap .footarea .web_layer .cc_trip:after{content:'';display:block;float:none;clear:both;height:0;font-size:0;line-height:0;visibility:hidden}