/* headBox.css */
/* 스크롤탑이 최상단에 있을 시 */
.headBoxWrap{width: 100%; top:0; left: 0; position: fixed; z-index: 100;}
#headBox{width: 960px; width: 60rem; height: 200px; height: 12.5rem; margin: 0 auto; background-color: #19355B; padding-top: 32px; padding-top: 2rem; box-sizing: border-box;}
#headBox.show{display: block;}
#headBox.hide{display: none;}
/* h1================================*/
#headBox>h1{width: 300px; width: 18.75rem; height: 90px; height: 5.625rem; margin: 0 auto;}
/* 링크기능이 가능하게 */
#headBox>h1>a{display: block; width: 100%; height: 100%; background-image: url("../../img/discoverylogo_white.png"); background-size: contain; background-repeat: no-repeat;}
/* 숨김,내용은 읽어줄 수 있도록 */ 
#headBox>h1>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
/* gnb============================*/
.gnb{width: auto; min-width: 960px; min-width: 60rem; height: 60px; margin:0 auto;}
.gnb>h2{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.gnb>ul{width:auto; height: 100%;}
.gnb>ul>li{width: auto; height: 100%; float:left; margin-left:90px; margin-left:5.625rem;}
.gnb>ul>li:nth-child(1){width: 185px; width: 11.5625rem; margin-left: 0;}
.gnb>ul>li:nth-child(2){width: 160px; width: 10rem;}
.gnb>ul>li:nth-child(3){width: 160px; width: 10rem;}
.gnb>ul>li:nth-child(4){width: 185px; width: 11.5625rem; }
.gnb>ul>li>a{width: 100%; height: 100%; color: #fff; line-height: 60px; font-size: 30px; font-size: 1.875rem; font-weight: bold; text-align: center;}
.gnb>ul>li>a:nth-child(1){margin-left: 15px; margin-left: 0.9375rem;}
.gnb>ul>li>a:hover{color: #FF5400;}
.gnb>ul>li>a:active{color: #FF5400;}
.gnb>ul>li>a:focus{color: #FF5400;}
/* //스크롤탑이 최상단에 있을 시 */
/* 스크롤탑이 내려갈 시 */
#headBox_02{width: 960px; height: 70px; margin: 0 auto;}
#headBox_02.show_02{display: block;}
#headBox_02.hide_02{display: none;}
#headBox_02>h1{width: 200px; height: 60px; float: left; position: fixed; top: 20px; left: 20px;}
#headBox_02>h1>a{display: block; width: 100%; height: 100%; background-image: url("../../img/discoverylogo_white.png"); background-size: contain; background-repeat: no-repeat;}
#headBox_02>h1>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
/* gnb============================*/
.gnb_02{width: auto; min-width: 960px; min-width: 60rem;height: 70px; margin:0 auto; float:left;}
.gnb_02>h2{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.gnb_02>ul{width:auto; height: 70px;}
.gnb_02>ul>li{width: auto; height: 100%; float:left; margin-left:90px; margin-left:5.625rem;}
.gnb_02>ul>li:nth-child(1){width: 185px; width: 11.5625rem; margin-left: 0;}
.gnb_02>ul>li:nth-child(2){width: 160px; width: 10rem;}
.gnb_02>ul>li:nth-child(3){width: 160px; width: 10rem;}
.gnb_02>ul>li:nth-child(4){width: 185px; width: 11.5625rem; }
.gnb_02>ul>li>a{width: 100%; height: 100%; color: #fff; line-height: 70px; font-size: 30px; font-size: 1.875rem; font-weight: bold; text-align: center;}
.gnb_02>ul>li>a:nth-child(1){margin-left: 15px; margin-left: 0.9375rem;}
.gnb_02>ul>li>a:hover{color: #FF5400;}
.gnb_02>ul>li>a:active{color: #FF5400;}
.gnb_02>ul>li>a:focus{color: #FF5400;}


/* //스크롤탑이 내려갈 시 */
/* //headBox.css */