/* main_content_02.css */
/* headBox */
.gnb>ul>li:nth-of-type(1){background-color: #fff;}
.gnb>ul>li:nth-of-type(1)>a{color: #000;}
.gnb_02>ul>li:nth-of-type(1){background-color: #fff; box-shadow: 5px 10px 10px #777;}
.gnb_02>ul>li:nth-of-type(1)>a{color: #000;}
/* //headBox */
/* bannerBox */
html,body{width: 100%; height: 100%;}
#bannerBox{width: 100%; height: 80vh; 
  background-image: url("../../img/2p/new_banner_01.jpg"); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; }
/* //bannerBox */
/* contentBox */
#contentBox{width: 960px; width: 60rem; height: auto;}
.top_wrap{width: 100%; height: auto; padding: 100px 0; padding: 6.25rem 0; box-sizing: border-box;}
.top_wrap:after{content:" "; display:block; width:100%; height:100%; clear:both;}
.top_wrap>h2{font-size: 30px; font-size: 1.875rem; margin-bottom: 60px; margin-bottom: 3.75rem;}
.top_pic{width: 300px; width: 18.75rem; height: 200px;  height: 12.5rem;  float: left; background-image: url("../../img/2p/pic_01.jpg"); background-repeat: no-repeat; background-size: cover;}
.top_pic>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.top_text_01{width: 500px; width: 31.25rem; height: auto; margin-left: 30px; margin-left: 1.875rem; float: left;}
.top_text_01>p{font-size: 16px; font-size: 1rem; line-height: 32px; line-height: 2rem; text-align: justify;}
.top_text_02{width: 830px; width: 51.875rem; height: auto; margin-top: 20px; margin-top: 1.25rem; float:left;}
.top_text_02>p{font-size:16px; font-size:1rem; line-height: 32px; line-height: 2rem; text-align: justify;}
.src{font-size:16px; font-size:1rem; line-height: 32px; line-height: 2rem;}
.bottom_wrap{width: 100%; height: auto; padding-bottom: 100px; padding-bottom: 6.25rem; box-sizing: border-box;}
.bottom_wrap:after{content:" "; display:block; width:100%; height:100%; clear:both;}
.bottom_wrap>h2{font-size: 30px; font-size: 1.875rem; margin-bottom: 60px; margin-bottom: 3.75rem;}
.bottom_pic{width: 300px; width: 18.75rem; height: 200px; height: 12.5rem; float: left; background-image: url("../../img/2p/pic_02.jpg"); background-repeat: no-repeat; background-size: cover;}
.bottom_pic>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.bottom_text{width: 500px; width: 31.25rem; height: 150px; height: 9.375rem; margin-left: 30px; margin-left: 1.875rem; float: left; }
.bottom_text>p{font-size:16px; font-size:1rem; line-height: 32px; line-height: 2rem;  text-align: justify;}
/* //contentBox */
/* //main_content_02.css */