/* main_content_05.css */
/* headBox */
.gnb>ul>li:nth-of-type(4){background-color: #fff;}
.gnb>ul>li:nth-of-type(4)>a{color: #000;}
.gnb_02>ul>li:nth-of-type(4){background-color: #fff; box-shadow: 5px 10px 10px #777;}
.gnb_02>ul>li:nth-of-type(4)>a{color: #000;}
/* //headBox */
/* contentBox */
#contentBox{width: 960px; height: auto; margin: 0 auto; padding: 100px 0 60px 0; box-sizing: border-box;}
#contentBox:after{content:" "; display:block; width:100%; height:100%; clear:both;}
#contentBox>h2{font-size: 30px; margin-bottom: 60px;}
/* hot_wrap */
.hot_wrap{width: 100%; height: 300px;}
.hot_wrap>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.hot_wrap>ul{width: 100%; height: 100%;}
.hot_wrap>ul>li{background-color: #ddd; width: 420px; height: 300px; float:left; overflow: hidden;  position: relative;}
.hot_wrap>ul>li:nth-child(1){margin-right: 120px;}
.hot_wrap>ul>li>a{display: block; width: 100%; height: 100%; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center; 
  transition: all 1000ms;}
.hot_wrap>ul>li>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.hot_wrap>ul>li:nth-child(1)>a{background-image: url("../../img/5p/hot_01.jpg");}
.hot_wrap>ul>li:nth-child(2)>a{background-image: url("../../img/5p/hot_02.jpg");}
.hot_wrap>ul>li:hover>a{transform: scale(1.2);}
.hot_wrap>ul>li:hover:after{content: "HOT"; white-space:pre;
width: 100%; height: 100%; font-size: 3rem; text-align: center; padding: 25%; box-sizing: border-box; background-color: rgba(0,0,0,0.5);
position: absolute; top: 0; left: 0;
text-shadow:0 0 2px #FF0000,0 0 30px #FF0000,5px 9px 5px #333, 0 0 150px #FF0000; color:#FF0000;}
/* //hot_wrap */
/* new_wrap */
.new_wrap{width: 100%; height: 500px; padding:100px 0; box-sizing: border-box;}
.new_wrap>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.new_wrap>ul{width: 100%; height: 100%;}
.new_wrap>ul>li{background-color: #ddd; width: 420px; height: 300px; float:left; overflow: hidden; position: relative;}
.new_wrap>ul>li:nth-child(1){margin-right: 120px;}
.new_wrap>ul>li>a{display: block; width: 100%; height: 100%;
background-repeat: no-repeat; 
background-size: cover; 
background-position: center;
transition: all 1000ms;}
.new_wrap>ul>li>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.new_wrap>ul>li:nth-child(1)>a{background-image: url("../../img/5p/new_01.jpg");}
.new_wrap>ul>li:nth-child(2)>a{background-image: url("../../img/5p/new_02.jpg");}
.new_wrap>ul>li:hover>a{transform: scale(1.2);}
.new_wrap>ul>li:hover:after{content: "NEW"; white-space:pre;
width: 100%; height: 100%; font-size: 3rem; text-align: center; padding: 25%; box-sizing: border-box; background-color: rgba(100,100,100,0.5);
position: absolute; top: 0; left: 0;
text-shadow:#F7FF00 0 -2px 0, #FFD400 2px 2px 0, #FFBB00 4px 4px 0, #E8AA00 6px 6px 0.5px, #ccc 8px 11px 10px; color:#FFE600;}
/* //new_wrap */
/* nor_wrap */
.nor_wrap{width: 100%; height: auto;}
.nor_wrap>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.nor_wrap>ul{width: 100%; height: auto;}
.nor_wrap>ul>li{background-color: #ddd; width: 300px; height: 240px; float:left; margin-right: 30px; margin-top: 100px; overflow: hidden;}
.nor_wrap>ul>li:nth-child(3n){margin-right: 0;}
.nor_wrap>ul>li:nth-child(1),.nor_wrap>ul>li:nth-child(2),.nor_wrap>ul>li:nth-child(3){margin-top: 0;}
.nor_wrap>ul>li:nth-child(1)>a{background-image: url("../../img/5p/no_01.jpg");}
.nor_wrap>ul>li:nth-child(2)>a{background-image: url("../../img/5p/no_02.jpg");}
.nor_wrap>ul>li:nth-child(3)>a{background-image: url("../../img/5p/no_03.jpg");}
.nor_wrap>ul>li:nth-child(4)>a{background-image: url("../../img/5p/no_04.jpg");}
.nor_wrap>ul>li:nth-child(5)>a{background-image: url("../../img/5p/no_05.jpg");}
.nor_wrap>ul>li:nth-child(6)>a{background-image: url("../../img/5p/no_06.jpg");}
.nor_wrap>ul>li:nth-child(7)>a{background-image: url("../../img/5p/no_07.png");}
.nor_wrap>ul>li:nth-child(8)>a{background-image: url("../../img/5p/no_08.jpg");}
.nor_wrap>ul>li:nth-child(9)>a{background-image: url("../../img/5p/no_09.jpg");}
.nor_wrap>ul>li>a{display: block; width: 100%; height: 100%; transition: all 1000ms;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.nor_wrap>ul>li>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
.nor_wrap>ul>li:hover>a{transform: scale(1.2);}
/* //nor_wrap */
/* //contentBox */
/* indicator */
.indicator{width: 1100px; height: 150px; margin: 0 auto; border-top:1px solid #ddd; padding-top: 16px; box-sizing: border-box;}
.indicator>span:nth-child(1){float: left; font-size: 16px; font-weight: bold; color: #000;}
.indicator>span:nth-child(2){float: right; font-size: 16px; font-weight: bold; color: #000;}
.indicator>span:nth-child(1)>a{display: block; width: 60px; height: 30px;}
.indicator>span:nth-child(2)>a{display: block; width: 80px; height: 30px;}
.indicator>span:nth-child(1)>a>i{font-size: 20px; font-weight: bold; color: #000; margin-right: 10px;}
.indicator>span:nth-child(2)>a>i{font-size: 20px; font-weight: bold; color: #000; margin-left: 10px;}
/* //indicator */
/* //main_content_05.css 