/* bannerBox.css */
#bannerBox{width: 100%;height: 26.041666vw; background-image: url(../../img/1p/banner.jpg);background-repeat: no-repeat;background-position: center -30px;
background-size: cover; }
.date_wrap{width: 960px; height: 26.041666vw; margin: 0 auto; padding-top: 4vw; box-sizing: border-box;}
.date_box{width: 220px;height: 180px; background-color: #000; padding-top:50px; box-sizing: border-box;}
.date_box>p{text-align: center; color: #fff; font-size: 26px; line-height: 26px;}


/* hotBox.css */
#hotBox{width: 960px; height: 350px;margin: 0 auto;padding-top: 40px;box-sizing: border-box;}
#hotBox>h2{width: auto; height: 30px;}
#hotBox>h2>span{font-size: 30px; line-height: 30px;}
#hotBox>ul{width: 940px; height: 240px; margin-top: 40px;}
#hotBox>ul>li{width: 200px; height: 240px; float:left; margin-right: 46px; border:1px solid #333; box-sizing: border-box;
background-repeat: no-repeat; background-size: cover;background-position: center;}
#hotBox>ul>li:nth-child(1){background-image: url(../../img/1p/main_01.jpg);}
#hotBox>ul>li:nth-child(2){background-image: url(../../img/1p/main_02.jpg);}
#hotBox>ul>li:nth-child(3){background-image: url(../../img/1p/main_03.jpg);}
#hotBox>ul>li:nth-child(4){background-image: url(../../img/1p/main_04.jpg); margin-right:0;}


/* videoBox */
#videoBox{width: 960px; height: 390px; padding:40px 0;box-sizing: border-box; margin-left:0 auto;}
#videoBox>h2{width: auto; height: 30px;}
#videoBox>h2>span{font-size: 30px; line-height: 30px;}


.v_box{width: 800px; height: 240px; background-color: #333; margin-top: 40px;}
.p_box{width: 400px; height: 240px; float: left;}
.play{width: 100% height: 100%;}
.play>a{display: block; width: 400px; height: 240px; padding: 90px 170px; box-sizing: border-box;}
.play>a>i{width: 400px; height: 240px; font-size: 55px; color: #fff;}


.t_box{width: 400px; height: 240px; float: left; background-color: #ddd; padding: 24px 10px; box-sizing:border-box;}
.t_box>span{font-size: 16px;}

