.gnb>ul>li:nth-child(4){border-bottom: 15px solid #d5d5d5;}

#contentBox{width: 960px; height: 1500px; margin: 0 auto; padding: 40px 0; box-sizing: border-box;}
#contentBox>h2{font-size: 30px; margin-bottom: 40px;}




.hot_wrap{width: 100%; height: 250px;}
.hot_pic_01,.hot_pic_02{width: 410px; height: 100%; background-color: #ddd; float:left;
background-repeat: no-repeat; background-size: cover; background-position: center;}
.hot_pic_01{margin-right: 140px; background-image: url(../../img/5p/hot_01.jpg);}
.hot_pic_02{background-image: url(../../img/5p/hot_02.jpg);}
.hot_box{width: 50px;height: 30px; background-color: #f00; color: #000; font-size: 18px; line-height: 30px; text-align: center; font-weight: bold;margin-left: 359px;}

.new_wrap{width: 100%; height: 290px; padding: 40px 0; box-sizing: border-box;}
.new_wrap>div{width: 280px; height: 210px; background-color: #ddd; float:left;
background-repeat: no-repeat; background-size: cover; background-position: center;margin-right: 60px;
}
.new_wrap>div:nth-of-type(1){background-image: url(../../img/5p/new_01.jpg);
  background-position: top left;
}
.new_wrap>div:nth-of-type(2){background-image: url(../../img/5p/new_02.jpg);}
.new_wrap>div:nth-of-type(3){background-image: url(../../img/5p/new_03.jpg);margin-right: 0;}
.new_box{width: 50px;height: 30px; background-color: #ff0;color: #000; font-size: 18px; line-height: 30px; text-align: center; font-weight: bold; margin-left: 229px;}

.nor_wrap{width: 100%; height: 710px; padding-bottom: 40px; box-sizing: border-box; }
.nor_wrap>ul{width: 100%; height: 670px;}
.nor_wrap>ul>li{width: 280px; height: 210px;
background-color: #ddd; float:left;
background-repeat: no-repeat; background-size: cover; background-position: center; margin-right: 60px; margin-top:20px;
}
.nor_wrap>ul>li:nth-child(3n){margin-right: 0;}
.nor_wrap>ul>li:nth-child(1){background-image: url(../../img/5p/no_01.jpg); margin-top: 0;}
.nor_wrap>ul>li:nth-child(2){background-image: url(../../img/5p/no_02.jpg); margin-top: 0;}
.nor_wrap>ul>li:nth-child(3){background-image: url(../../img/5p/no_03.jpg); margin-top: 0;}
.nor_wrap>ul>li:nth-child(4){background-image: url(../../img/5p/no_04.jpg); }
.nor_wrap>ul>li:nth-child(5){background-image: url(../../img/5p/no_05.jpg); }
.nor_wrap>ul>li:nth-child(6){background-image: url(../../img/5p/no_06.jpg); }
.nor_wrap>ul>li:nth-child(7){background-image: url(../../img/5p/no_07.png); }
.nor_wrap>ul>li:nth-child(8){background-image: url(../../img/5p/no_08.jpg); }
.nor_wrap>ul>li:nth-child(9){background-image: url(../../img/5p/no_09.jpg); }
.nor_wrap>ul>li>a{width: 100%; height: 100%; display: block;}

.indicator{width: 180px; height: 30px; margin: 40px auto;}
.indicator>ul{width: 100%; height: 100%;}
.indicator>ul>li{width: 30px; height: 30px;  float:left; border-right:1px solid #aaa; box-sizing: border-box; color: #aaa;}
.indicator>ul>li>a{display: block; width: 100%; height: 100%; line-height: 30px; text-align: center; font-size: 16px;}
.indicator>ul>li:nth-of-type(2)>a{color: #000; line-height: bold;}
.indicator>ul>li:nth-of-type(2){}
.indicator>ul>li:nth-of-type(3){}
.indicator>ul>li:nth-of-type(4){}
.indicator>ul>li:nth-of-type(5){}
.indicator>ul>li:nth-of-type(6){border-right:0;}


.indicator>ul>li>a:focus{color: #000;}
.indicator>ul>li>a:hover{text-decoration:underline;color: #000;}
.indicator>ul>li>a:active{text-decoration:underline;color: #000;}

/*.w_b_01{width: 280px; height: 0px; background-color: rgba(255,255,255,0.7);}
.w_b_01>p{display: none; font-size: 20px; color: #000; line-height: 20px; margin-left: 30px;}

.nor_wrap>ul>li:nth-child(1)>a:hover>{transform:scale(2);}
.nor_wrap>ul>li:nth-child(1)>a:hover>.w_b_01{height: 150px;transition-duration:1000ms;
transition-timing-function: linear;
transition-property:all;}
.nor_wrap>ul>li:nth-child(1)>a:hover>.w_b_01>p{
  transition-duration:500ms; display: block;
}



.h_r_p{width: 100%; height: 100%;}
.hot_pic_01{position: relative; overflow: hidden;}
.h_w_b_01{width: 0;height: 0;}
.hot_pic_01:hover>.h_w_b_01{transition: all;
width: 410px; height: 250px; background-color: rgba(255,30,30,0.5) ;position: absolute; top:0;}
.h_r_p:hover{transform:rotate(30deg);
}
.h_r_p{background-repeat: no-repeat; background-size:cover; background-position: center;background-image: url(../../img/5p/hot_01.jpg);}*/*/*/

/*.gnb>ul>li:nth-child(4){border-bottom: 15px solid #d5d5d5;}


#contentBox{width: 960px; height: 1500px; margin: 0 auto; padding: 40px 0; box-sizing: border-box; background-color: #acc;}

.hot_wrap{width: 960px; height: 250px; margin-top: 40px;}
.hot_wrap>ul{width: 100%; height: 100%;}
.hot_wrap>ul>li{width: 410px; height: 250px; float:left; 
  background-color: #ddd;}
.hot_li_01{margin-right: 140px;}
.hot_wrap>ul>li>div:nth-of-type(1){
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; height: 100%;}
.hot_pic_01{background-image: url(../../img/5p/hot_01.jpg);}
.hot_pic_02{background-image: url(../../img/5p/hot_02.jpg);}
.hot_banner{width: 50px; height: 30px; background-color: #f00; position: absolute; top:0; margin-left: 360px;}
.hot_banner>span{font-size: 16px; color: #000; font-weight: bold; line-height: 30px; text-align: center;}

.hot_wrap>ul>li{overflow: hidden; position:relative;}
.hot_wrap>ul>li>div:nth-of-type(1){transition: all 500ms;}
.hot_wrap>ul>li>div:nth-of-type(1):hover{transition: all 500ms; transform:rotate(30deg) scale(2);}

.new_wrap{width: 960px; height: 290px; padding: 40px 0; box-sizing: border-box; background-color: #aac;}
.new_wrap>ul{width: 100%; height: 100%;}
.new_wrap>ul>li{width: 280px; height: 210px; margin-right: 60px; background-color: #ddd; float:left; position: relative;}
.new_wrap>ul>li:nth-of-type(3){margin-right: 0;}
/*.new_li_03{margin-right: 0;}*/
.new_wrap>ul>li>div{background-repeat: no-repeat;
  background-size: cover;
  width: 100%; height: 100%;}
.new_li_01{background-image: url(../../img/5p/);}
.new_li_02{background-image: url(../../img/5p/new_02.jpg);}
.new_li_03{background-image: url(../../img/5p/new_03.jpg);}

.no_wrap{width: 960px;}*/