@charset "utf-8";
/*  reset  */
html,body{margin: 0; padding: 0; color:#333;}
h1,h2,h3,h4,h5,h6,
p,pre,div{margin: 0; padding: 0;}
ul,ol,li,dl,dt,dd{margin: 0; padding: 0; list-style: none;}
a{text-decoration:none; color:#f0a;}
a:hover{text-decoration:underline; font-weight:bold;}
img{border:0; }

header,section,footer,aside,article,nav,main,figure{display: block;}


/*  common  */
/*-----------------------------*/
.clearfix:after{content:" "; display: block; clear:both;}
.clearfix::after{content:" ";display: block; clear:both;}

.hidden{width: 0; height: 0; overflow: hidden; }

/*   design====================================*/
#wrap{width:960px; height:1850px; margin: 0 auto;}

/*  headBox  */
#headBox{width:100%; height: 200px; background-color:#1b375c; padding: 10px; box-sizing: border-box;}

.logo_box{width: 500px; height: 130px;  float:left; margin-left: 250px;} 
h1{width: 100px; height: 75px;background-color:#37f; float:left;}
.main_title{width:400px;height:70px;float:left;background-color:#fff; font-size: 50px;}
.sub_title{width:200px;height:60px;float:left;background-color:#fff;font-size: 40px;}

#gnb{width:700px; height:40px; margin-top:140px; margin-left:120px;}
#gnb>ul{width:100%; height:100%;}
#gnb>ul>li{width:130px; height:40px; background-color:#abc; float:left; margin-right:60px;}
#gnb>ul>li.last{margin-right: 0;}

#adBanner{width:100%; height:400px; background-color:#ccc;}
#adBanner>div.date{width:100px; height:80px; background-color:#fff; float:left; margin-left:30px;}

#hotArea{width:100%; height:300px;padding:10px; box-sizing:border-box;}
#hotArea>.hot_title{width:auto; height:20px; margin-left:30px;}
#hotArea>ul{width:850px; height:220px; margin-top:10px; margin-left:30px;}
#hotArea>ul>li{width:150px; height:220px; float:left; background-color:#ddd; margin-right:83px;}
#hotArea>ul>li.last{margin-right: 0;}

#contentBox{width:100%; height: 300px; padding:10px; box-sizing:border-box;}
#contentBox>.c_title{width:auto; height:20px; margin-left:30px;float:left;}
#contentBox>ul{width:700px;height: 200px;margin-left:30px;margin-top:50px;background-color:#fcc;}
#contentBox>ul>.one{width:300px;height: 200px;background-color:#999;float:left;}
#contentBox>ul>.two{width:400px;height: 200px;background-color:#ddd;float:left;overflow:hidden;}
#contentBox>ul>.two>p{float:left;}

#pArea{width:100%; height:300px; background-color:#ddd; }

#footBox{width:100%; height:300px; margin-top:50px; background-color:#ddd; padding:10px; box-sizing:border-box;}
#footBox>.b_logo{width: 500px; height: 180px;margin-top:50px;  float:left;}
.bb_logo{width: 100px; height: 75px;background-color:#37f; float:left;}
.bmain_title{width:400px;height:70px;float:left;background-color:#fff; font-size: 50px;}
.bsub_title{width:200px;height:60px;float:left; background-color:#fff; font-size: 40px;}
.binfo{width:300px;height:50px;float:left; margin-left:40px;}

#footBox>.b_box{width:400px; height:280px;float:left;}
.bone{width:70px; height:20px; margin-left:30px; float:left; }
.btwo{width:70px; height:20px; margin-left:30px; float:left; }
.bthree{width:150px; height:20px; margin-left:30px; float:left;}
.bfour{width:250px; height:40px; margin-left:30px;  margin-top:30px; float:left;}
.bfive{width:300px; height:20px; margin-left:30px; margin-top:30px; float:left;}